{% load static %}
<html>
 <head>
 <link href="../../static/syou.css" rel="stylesheet">
 <br>
  <a href="{% url 'index' %}" class="lerrow"><i class="fa fa-angle-double-left"></i>最初のページに戻る</a>
 </head>
 <body>
 <br>
 <div class="a">
 <i class="fas fa-angle-double-left"></i>
 <br>
 </div>
 <div class="b">
 <br>
 <p>以下に説明書が載せてあります。マウス左クリックを2回押すと開きます。</p>
 <a href="https://drive.google.com/file/d/1zkTVQ72zFEtXNBYj7Z83ICQRqq-nlP7s/view?usp=sharing" class="berrow">[説明書]ここをクリックしてください<a class="lerrow2"></a>
 <br>
<!--<a href="./e_fin/static/img/siyou.pdf" download="使用書.pdf">ダウンロード</a>-->
 </div>
 </body>
</html>
